body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    width: 1170px;
  }
  
  .testimoni {
    background-color: #d4f1dd;
    border-bottom: 5px solid #fff;
    text-align: center;
    font-family: Arial, Helvetica;
    font-size: 14px;
    padding: 20px 0;
  }

  .pricing {
    height: 500px;
    padding-bottom: 80px;
    background-color: #fff1e3;
    text-align: center;
    font-family: Arial;
  }
  
  .pricing .heading {
    padding-top: 10px;
    padding-bottom: 80px;
    color: #5f5d60;
  }
  .heading span {
      font-size: 40px;
      font-weight: bold;
  }
  .heading h2 {
    font-weight: normal;
  }
  .heading p {
    font-size: 14px;
  }
  .price {
    float: left;
    width: 23%;
    border: 1px solid #ddd;
    margin: 0px 10px;
  }

  .price-header {
    color: #fff;
    margin: -70px 0 0px;
    border-bottom: 1px solid #ddd ;
  }
  .price-value {
    position: relative;
    z-index: 10;
    font: bold 15px/100px Georgia, Serif;
    color: #777;
    background: #fff;
    border: 5px solid #fff;
    height: 100px;
    width: 100px;
    margin: 10px auto -0px;
    border-radius: 100px;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
  }
  .price h3 {
    
    font-size: 20px;
    font-weight: normal;
    padding: 60px 0 20px 0;
    margin: -50px 0 0 0;
    background-color: #eee;
    background-image: linear-gradient(#fff, #eee);
  }
  .price .title {
    color: #333;
  }
  .price ul {
    margin: 0 0 0 0;
    padding: 0;
    list-style: none;
  }

  .price li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    font-size: 14px;
  }
  .purchase {
    position: relative;
    padding: 8px 20px;
    margin: 10px 0 14px 0;  
    color: #fff;
    font: bold 14px Arial;
    text-decoration: none;
    display: inline-block;       
    background-color: #72ce3f;
    border-radius: 3px;     
    text-shadow: 0 1px 0 #5f5d60;      
    box-shadow: 0 2px 0 #ddd, 0 3px 0 #5f5d60;
  }


  

